<div class="e-i-c-item-wrapper flex justify-center align-center">
    <div class="box-shaow w-full flex justify-center align-center">
    <div class="e-i-c-item-img h-full">
        <img src="/themes/theme-foo/assets/image/ShBK_01.png" alt="">
    </div>
    <div class="e-i-c-item-content h-full flex-1">
        <div class="e-i-c-item-c-title">全国青少年模拟飞行锦标赛 [河北省选拔赛</div>
        <div class="e-i-c-item-c-time">报名时间</div>
        <div class="e-i-c-item-c-time-v">2024.6.27 -- 2024.7.27</div>
        <div class="e-i-c-item-c-op">即将报名</div>
    </div>
</div>
</div>