<div class="flex w-full e-i-card flex-wrap">
    <th:block th:replace="@{~/modules/components/eventinfocarditem}"></th:block>
    <th:block th:replace="@{~/modules/components/eventinfocarditem}"></th:block>
    <th:block th:replace="@{~/modules/components/eventinfocarditem}"></th:block>
    <th:block th:replace="@{~/modules/components/eventinfocarditem}"></th:block>
    <th:block th:replace="@{~/modules/components/eventinfocarditem}"></th:block>
    <th:block th:replace="@{~/modules/components/eventinfocarditem}"></th:block>
</div>