<div id="s-i-card" class="w-410 h-170 relative">
    <img class="w-410 h-170 relative" th:src="${activeUri}" alt="">
    <div class="absolute w-full h-full top-0 left-0 s-i-card-item">
        <div class=" flex justify-between align-baseline">
            <div class="s-i-card-title">社群</div>
            <div class="s-i-select flex">
                <div>微信群</div>
                <div>QQ群</div>
            </div>
        </div>

        <div class="flex-1 s-i-card-content-wapper">
            <div class="s-i-card-content flex justify-between" >
                <div class="s-i-card-content-title">2024河北省青少年航赛</div>
                <div class="s-i-card-content-button">加入</div>
            </div>
            <div class="s-i-card-content flex justify-between" >
                <div class="s-i-card-content-title">2024河北省青少年航赛</div>
                <div class="s-i-card-content-button">加入</div>
            </div>
        </div>
        
    </div>
</div>

