<div class="w-full h-31-25 relative  overflow-hidden" >
    <div class="w-full flex h-31-25 absolute duration-300 banner-imgBox2">
        <div class="flex w-con absolute">
        <div class="w-100vw h-full relative">
            <div class="banner-info container absolute h-full w-full top-0 left-0 flex flex-col justify-center ">
                <div class="content">
                    <div class="swpiper-title">冲向云霄 · 拥抱梦想</div>
                    <div class="swpiper-desc">了解航模实训课程最新的优惠活动</div>
                    <div class="swpiper-time">报名时间：2024年2月27日</div>
                    <div class="button">立即预约</div>
                </div>
            </div>
            <img class="w-100vw h-31-25 " src="/themes/theme-foo/assets/image/banner01.png" alt="">
        </div>
        
        <div class="w-100vw h-full relative">
            <div class="banner-info container absolute h-full w-full top-0 left-0 flex flex-col justify-center ">
                <div class="content">
                    <div class="swpiper-title">冲向云霄 · 拥抱梦想</div>
                    <div class="swpiper-desc">了解航模实训课程最新的优惠活动</div>
                    <div class="swpiper-time">报名时间：2024年2月27日</div>
                    <div class="button">立即预约</div>
                </div>
            </div>
            <img class="w-100vw  h-31-25  " src="/themes/theme-foo/assets/image/banner01.png" alt="">
        </div>
        <div class="w-100vw h-full relative"> 
            <div class="banner-info container absolute h-full w-full top-0 left-0 flex flex-col justify-center ">
                <div class="content">
                    <div class="swpiper-title">冲向云霄 · 拥抱梦想</div>
                    <div class="swpiper-desc">了解航模实训课程最新的优惠活动</div>
                    <div class="swpiper-time">报名时间：2024年2月27日</div>
                    <div class="button">立即预约</div>
                </div>
            </div>
            <img class="w-100vw h-31-25  " src="/themes/theme-foo/assets/image/banner01.png" alt="">
        </div>
        <div class="w-100vw h-full relative">
            <div class="banner-info container absolute h-full w-full top-0 left-0 flex flex-col justify-center ">
                    <div class="content">
                        <div class="swpiper-title">冲向云霄 · 拥抱梦想</div>
                        <div class="swpiper-desc">了解航模实训课程最新的优惠活动</div>
                        <div class="swpiper-time">报名时间：2024年2月27日</div>
                        <div class="button">立即预约</div>
                    </div>
                </div>
            <img class="w-100vw h-31-25  " src="/themes/theme-foo/assets/image/banner01.png" alt="">
        </div>
    </div>
    </div>
    <div class="banner-imgBox-div">
        <div class="on"></div>
        <div class="on"></div>
        <div class="on"></div>
        <div class="on"></div>
    </div>

    
</div>